@font-face {
    font-family: 'HelveticaNeue';
    src: url('font/HelveticaNeue.ttf');
}

* {
    font-family: HelveticaNeue;
    letter-spacing: 1px;
    font-weight: 700;
}

.field {
    font-size: 15px;
    margin: 0px auto 20px auto;
    width: 180px;
    height: 25px;
}

#sub {
    background-color:#e5f2ff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    height: 25px!important;
    width: 180px;
    margin-top: 20px
}

p {
    margin: 5px;
}